.product-grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0rem 1rem;
}
.grid-item {
    min-width: 11.25rem;
    border-color: transparent;
    border-bottom-color: var(--ref-c-d2c_search-product-grid-list-color-border, transparent);
    display: flex;
    align-items: end;
}
.grid-item section {
    display: flex;
    flex-grow: 1;
}
.card-item {
    flex-grow: 1;
}
.product-grid-container .grid-item {
    flex-basis: var(--ref-c-d2c_search-product-grid-container-basis, 25%);
}

.product-card-container {
    margin: 15px 15px;
    height: 450px;
}

@media (max-width: 1000px) {
    .product-grid-container .grid-item {
        flex-basis: 50%;
    }
}

@media only screen and (max-width: 47.9375em) {
    .product-grid-container {
        display: block !important;
        padding: 0;
    }
}

@media screen and (max-width: 764px) {
    .product-card-container {
        margin: 15px 0px;
        height: 375px !important;
    }
    .product-grid-container {
        display: inline-block;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0rem 1rem;
        margin: auto;
        max-width: 375px;
    }
}

@media screen and (max-width: 1000px) and (min-width: 765px) {
    .product-card-container {
        margin: 15px 15px;
        height: 400px !important;
    }
}
