:host {
    --height: 109px;
    --width: 251px;
}
.mainLabel {
    font-weight: 700;
    font-size: 20px;
}

.inputLabel {
    width: 25%;
    display: inline-block;
}

.inputLabelSh {
    width: 100%;
    display: inline-block;
}

.loginText {
    font-size: 23px;
    text-align: center;
    font-weight: 500;
}

.silhouetteText {
    font-size: 15px;
    text-align: center;
    color: black;
}

.slihouette:hover {
    color: black;
}

/* Small form factor: devices smaller than tablet (i.e. the SLDS mqSmall responsive threshold)*/
@media only screen and (max-width: 47.9375em) {
    .spacingInputField {
        margin-left: -48%;
        margin-right: -48%;
        padding-bottom: 16%;
    }
    .spacingLoginButton {
        width: max-content;
        margin-left: -63%;
        padding-top: 31%;
    }
}
@media only screen and (max-width: 48em) {
    .spacingResetButton {
        padding-top: 14%;
    }
    .imageSize {
        height: var(--height);
        width: var(--width);
    }
}

.button-icon {
    color: black;
    font-weight: 500 !important;
    --slds-c-icon-color-foreground-default: #000 !important;
    opacity: 0.7;
}

.goback {
    white-space: nowrap;
    align-items: center !important;
}

.button {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: black;
    cursor: pointer;
    text-align: left;
}

.button:hover {
    color: black;
    text-decoration: underline;
}

.w-30 {
    width: 30px;
}

.store-logo {
    max-width: 70%;
}

/* START: BS-1859 */
.required-label {
    font-weight: 300 !important;
    font-size: 14px !important;
    color: #000;
}

.required-star {
    font-size: 16px;
    font-weight: 300;
    color: #000;
}

.toolTipStyling {
    width: 14px;
    margin-left: 5px;
    margin-top: -2px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .text {
    position: absolute;
    width: 435px;
    background-color: black;
    color: #fff;
    text-align: left;
    padding: 4px 4px;
    z-index: 1;
    border-radius: 0px;
    bottom: 110%;
    left: -20px;
    margin-left: -188px;
    opacity: 0;
    visibility: hidden;
    font-size: 12px;
}
.tooltip .text::after {
    position: absolute;
    content: '';
    border-style: solid;
    border-width: 5px;
    border-color: black transparent transparent transparent;
    top: 100%;
    left: 50.5%;
    margin-left: -5px;
}
.tooltip:hover .text {
    visibility: visible;
    opacity: 1;
}
@media only screen and (max-width: 440px) {
    .tooltip .text {
        width: 270px !important;
        left: 4px !important;
    }
    .tooltip .text::after {
        left: 72.5% !important;
    }
}
/* END: BS-1859 */
