.no-border {
    border: 0px !important;
}

.image-width {
    width: 45px !important;
    height: 45px !important;
    cursor: pointer;
}

.bounce-top {
    -webkit-animation: bounce-top 0.9s both;
    animation: bounce-top 0.9s both;
}

.bounce-top:hover {
    -webkit-transform: scale(1.2) !important;
    transform: scale(1.2) !important;
}

.selected-score {
    -webkit-transform: scale(1.4) !important;
    transform: scale(1.4) !important;
}

@-webkit-keyframes bounce-top {
    0% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    82% {
        -webkit-transform: translateY(-1.5px);
        transform: translateY(-1.5px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    93% {
        -webkit-transform: translateY(-1px);
        transform: translateY(-1px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
}
@keyframes bounce-top {
    0% {
        -webkit-transform: translateY(-11.25px);
        transform: translateY(-11.25px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    82% {
        -webkit-transform: translateY(-1.5px);
        transform: translateY(-1.5px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    93% {
        -webkit-transform: translateY(-1px);
        transform: translateY(-1px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
}
.text-area {
    width: 100%;
    resize: vertical;
}

.error-comment {
    color: #d0021b !important;
    font-size: 16px;
    text-align: center;
    border: 1px solid #d0021b;
}

.rating-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rating-container > div {
    margin: 5px 5px;
    text-align: center;
}
