.marginDivSh {
    /* margin-top: 54px; */
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}

.marginDiv {
    margin-top: 54px;
}

.loginText {
    font-size: 23px;
    text-align: center;
    font-weight: 500;
}

.silhouetteText {
    font-size: 15px;
    text-align: center;
    color: black;
    text-decoration: underline;
}

.silhouetteText :hover {
    color: black;
}

/* Small form factor: devices smaller than tablet (i.e. the SLDS mqSmall responsive threshold)*/
@media only screen and (max-width: 47.9375em) {
    .marginDiv {
        margin-top: 0px !important ;
    }
}

@media only screen and (max-width: 48em) {
    .marginDiv {
        margin-top: 35px;
    }
}

@media screen and (max-width: 767.99px) {
    .mb-mt30 {
        margin-top: 30px !important;
    }
}

/* Start: BS-2005 */
.silhouetteBody {
    max-width: 950px;
    margin: auto;
    text-align: center;
}

.silhouetteBody .slds-card {
    background: #f9f9f9 !important;
    border-radius: 0 !important;
    border: solid 1px #000 !important;
    padding: 2% 10% !important;
}

@media only screen and (max-width: 64em) {
    .silhouetteBody {
        max-width: 90%;
    }

    .footer-section {
        max-width: 90% !important;
        margin: auto;
    }
}

@media only screen and (max-width: 768px) {
    .customercontact-link {
        text-align: center;
        padding: 10px;
    }
}

.footer-section {
    max-width: 950px;
    margin: auto;
}
/* End: BS-2005 */
