.disable {
    opacity: 0.2;
}

.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    cursor: grab;
}

.carousel {
    display: flex;
    transition: transform 0.3s ease;
}

.carousel img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.button {
    position: absolute;
    width: 60px;
    height: 30px;
    border: 0px;
    background: transparent !important;
    margin-top: 14px !important;
    transition: 1.5s;
}

.button--previous {
    left: 0.1rem;
}

.button--next {
    right: 0rem;
}

.list {
    display: flex;
    gap: 32px;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.list::-webkit-scrollbar {
    display: none;
}

.item {
    flex-shrink: 0;
    background-color: #fff;
    scroll-snap-align: center;
    max-width: 31.8% !important;
}

.carouselImageStyling {
    height: 500px;
}

.imageStyling {
    height: 100%;
    width: 100%;
    object-fit: cover;
    user-select: none;
}

.list-wrapper {
    position: relative;
    cursor: grab;
}

.control-button-size {
    height: 80px;
    position: relative !important;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .list {
        gap: 15px !important;
    }

    .carouselImageStyling {
        height: 375px;
    }

    .button {
        width: 60px !important;
        height: 30px !important;
        margin-top: 5px !important;
    }

    .button--previous {
        margin-left: -15px !important;
    }

    .button--next {
        margin-right: -10px !important;
    }
}

@media only screen and (max-width: 600px) {
    .list {
        gap: 25px !important;
    }

    .item {
        flex-shrink: 0;
        background-color: #fff;
        scroll-snap-align: center;
        max-width: 100% !important;
    }

    .button {
        position: absolute;
        width: 40px;
        height: 30px;
        border: 0px;
        background: transparent !important;
        margin-top: 10px !important;
    }

    .button--previous {
        left: 0rem;
    }
}
