/*START OF BS-899*/
.mr-3 {
    margin-right: 3px;
}

.d-contents {
    display: contents;
}
/*END OF BS-899*/

/* Start of BS-1855*/

.slds-input-has-icon .slds-input__icon:not(button) {
    pointer-events: all;
    cursor: pointer;
    display: inline-table;
    top: 2rem;
}

/* End of BS-1855*/
