.dot {
    height: 25px;
    width: 25px;
    border-radius: 80%;
    cursor: pointer;
    background-color: #bbb;
    margin: 0px 6px;
    display: inline-block;
}

.active,
.dot:hover {
    height: 29px;
    width: 29px;
    margin-bottom: -1px !important;
    background-color: #717171 !important;
    border: 3px solid #fff !important;
    outline: #000 solid 1px !important;
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.dotContainer {
    align-self: end;
    padding-top: 30px;
    padding-bottom: 30px;
}

.variationColorName {
    font-weight: bold !important;
    font-size: 16px;
    font-family: 'Adobe Caslon Pro' !important;
    margin-left: 6px;
    margin-top: 7px;
    display: inline-block !important;
    text-transform: lowercase !important;
}

@media only screen and (max-width: 768px) {
    .display-flex {
        display: block;
    }

    .dotContainer {
        align-self: end;
        padding-top: 20px;
        padding-bottom: 16px;
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    .display-flex {
        display: flex;
    }
}
