.card-value-div-img {
    width: 24px;
}
.pdp-value-div-img {
    width: 50%;
    vertical-align: middle;
    max-width: 50px;
    float: left !important;
}
.pdp-value-div-img :last-child {
    width: 50%;
    vertical-align: middle;
    padding-left: 4px;
    max-width: 50px;
    float: left !important;
}
.iterator:first-child {
    padding-left: 0px !important;
    padding-right: 2px;
}
.iterator:last-child {
    border: none;
    padding-left: 10px;
}

.borderClass {
    border-right: 1px solid lightgrey;
}

.fieldsetContainer {
    font-size: 12px;
    max-width: 100%;
    margin: 12px auto;
}

.vertical-align-middle {
    vertical-align: middle;
}
