/*
* — Cart Items —
*/

.mainComponent {
    width: 100%;
}

.headerStyle {
    padding-bottom: 0px;
    border-bottom: solid 1px #d8d8d8;
}
.headerStyle h1 {
    font-size: 24px !important;
}

.removeItems {
    margin-right: 0px;
    float: right;
}

.vmiddle {
    vertical-align: super;
}

.popupOnClearCart {
    margin: auto;
    align-items: center;
    background-color: white;
    padding: 40px 20px;
    max-width: 470px;
}

.warning-popupmessage .slds-modal__container {
    width: auto !important;
}

.savetomywishlist-btn {
    padding: 10px !important;
}

@media only screen and (min-width: 1024px) {
    .popupOnClearCart {
        min-width: 500px !important;
    }
}

@media only screen and (max-width: 1023.99px) and (min-width: 768px) {
    .popupOnClearCart {
        width: 90%;
        min-width: 500px;
    }
}

@media only screen and (max-width: 767.99px) and (min-width: 560px) {
    .popupOnClearCart {
        width: 90%;
    }
}

@media only screen and (max-width: 559.99px) {
    .popupOnClearCart {
        width: 98%;
    }
    .btn-wrap {
        width: 100%;
        display: block !important;
    }
    .warning-btns {
        width: 100%;
        margin: 10px auto !important;
    }
    .warning-btn {
        width: 100%;
    }
}

.deleteCartWarningMessage {
    padding-bottom: 4%;
    text-align: center;
}

.deleteCartButton {
    margin-left: 15.8%;
    align-items: center;
    padding: 6px 25px !important;
}

.deleteCartItemButton {
    margin-left: 22%;
    align-items: center;
    padding: 6px 32px !important;
}

.cancelDelete {
    margin-left: 20%;
    padding: 6px 25px !important;
}

/*
    Screens larger than a tablet (i.e. the default "desktop" size).
    These settings are specific to the "desktop" view, i.e. the SLDS mqLarge responsive threshold
*/
@media only screen and (min-width: 64.01em) {
    .product-fields {
        width: 40%;
    }

    .quantity-price-remove {
        width: 60%;
    }
}

/* Tablet sized screens or smaller (smaller than the SLDS mqLarge responsive threshold) */
@media only screen and (max-width: 64em) {
    .item-name {
        font-size: 0.875rem;
    }

    figure {
        height: 100px;
        width: 100px;
    }

    .line-item-properties {
        flex-direction: column;
    }

    .quantity-price-remove {
        padding-top: var(--lwc-spacingMedium);
    }

    .product-fields {
        font-size: 0.75rem;
    }

    .product-fields dt {
        width: 30%;
    }

    .product-fields dd {
        width: 70%;
    }

    .original-price {
        font-size: 0.625rem;
    }

    .negotiated-price {
        font-size: 1rem;
        font-weight: var(--lwc-fontWeightBold);
    }

    .price {
        align-self: center;
    }

    .remove {
        align-self: center;
    }

    header {
        align-items: center;
    }
    h1 {
        font-size: 1.125rem;
    }
    .popupOnClearCart {
        width: 80%;
    }
}

@media only screen and (max-width: 29.9375em) {
    .popupOnClearCart {
        width: 100% !important;
    }
}

/* Small form factor: devices smaller than tablet (i.e. the SLDS mqSmall responsive threshold)*/

@media only screen and (max-width: 47.9375em) {
    .quantity-selector {
        /*
            A tiny correction when the quantity control shows its "Qty" label so that we stay centered along the box.
            Fortunately, this actually is a fixed height and we have plenty of padding above us.
        */
        margin-top: -0.5rem;
    }

    figure {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (max-width: 47.9em) {
    /* SLDS token: mqMedium */
    .quantity-selector {
        flex-direction: column;
    }
    .error-msg {
        position: static;
        margin-left: 0;
    }
    .selector-label {
        font-size: 0.5rem;
    }
    .margin-auto {
        margin-left: 8px !important;
    }
    .empty-cart-container {
        width: 350px !important;
    }
}

/* Screens larger than phone */
@media only screen and (min-width: 64em) {
    header {
        padding-bottom: 0.94rem;
    }
    h1 {
        font-size: 1.75rem;
    }
}

/* Phone screens */
@media only screen and (max-width: 64em) {
    header {
        align-items: center;
    }
    h1 {
        font-size: 1.125rem;
    }
}

/*
* — Cart Items Sort Menu -
*/
.sort-menu {
    display: flex;
    align-items: center;
}

.modal-button {
    float: right !important;
    border: 0px !important;
    margin-right: 0px !important;
    margin-top: -20px !important;
}
.modal-button .slds-button {
    border: none !important;
}
.modal-button .slds-button_icon-border {
    border: none !important;
}

.clear-cart-button {
    border: 0px !important;
    background: #ffffff;
}
/* Removed rotate as a part of BS-2175 */
.refresh-image-size {
    width: 22px !important;
}

.font-18 {
    font-size: 18px !important;
    font-weight: 300 !important;
}

.cart-header {
    font-size: 24px !important;
    font-weight: 500 !important;
}

.position-absolute {
    position: absolute !important;
}

.delete-cart-button {
    background-color: #d0021b !important;
    border: 1px solid #d0021b !important;
    color: #fff !important;
}

.delete-cart-button :hover {
    background-color: #d0021b !important;
    font-weight: 500 !important;
}

.delete-icon {
    width: 40px;
}

.font-24-500 {
    font-size: 24px !important;
    font-weight: 500 !important;
}

.font-18-300 {
    font-size: 18px !important;
    font-weight: 300 !important;
}

.font-14-300 {
    font-size: 14px !important;
    font-weight: 300 !important;
}

.refresh-image-modal-size {
    width: 40px !important;
}

.empty-cart-container {
    width: 400px;
    height: 250px !important;
    background: #f9f9f9 !important;
}

.margin-auto {
    margin: auto !important;
}

.float-right {
    float: right !important;
}

.tabStyling {
    font-size: 16px;
    font-weight: 300 !important;
}

.tab-border {
    border-bottom: 1.5px solid #d8d8d8;
    margin: 1px;
}

.active-tab {
    font-weight: 600;
    font-size: 14px;
    border-bottom: 2px solid black;
    /* BS-1137 */
    text-align: center;
    padding-bottom: 8px;
}

.in-active-tab {
    font-size: 14px;
    /* BS-1137 */
    text-align: center;
    padding-bottom: 8px;
}
.slds-gutters .slds-col {
    --lwc-spacingSmall: 0px !important;
}

.active-count {
    margin-left: 4px;
    padding: 0px 5px 0px 5px; /* BS-1409 */
    border-radius: 5px;
    color: white;
    background-color: black;
    font-weight: 400;
}

.in-active-count {
    margin-left: 4px;
    padding: 0px 5px 0px 5px; /* BS-1409 */
    border-radius: 5px;
    color: black;
    background-color: #d8d8d8;
    font-weight: 400;
}

.pointer {
    cursor: pointer;
}

.delete-cart-warning {
    text-align: center;
    font-weight: 500;
}
